@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #090909;
  color: white;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #464646;
  color: white;
}